body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.background {
  width: 100vw;
  background-color: #383535;
  background-image: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  text-align: center;
  background-color: #faf2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #333;
}

.joke {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#joke-text {
  font-size: 18px;
  margin: 0;
  color: #555;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #7b346a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  transform: translateY(-5px);
  transition: 1s ease;
}

button:focus {
  outline: none;
}

footer {
  color: #605e5e;
  margin-top: 15px;
}
